<h3 class="text-center"><%= @book.title%></h3>
<%= link_to books_path do%>
  <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
<%end%>
<div class="book-info">
  <%= @book.isbn%>
  <%= @previous_quantity%>
</div>


<div class="index-wrapper"  >
  <table class="fixed_headers" id="flows">
    <thead>
      <tr>
        <th>Updated at</th>
        <th>Previous Stock</th>
        <th>New Stock</th>
      </tr>
    </thead>
    <% @flows.each do |flow|%>
      <%= render "flows/show", flow: flow%>
    <%end%>
  </table>
</div>


<div class="form-wrapper">
  <%= render "flows/new", book: @book, flow: @flow%>
</div>
