<h3 class="text-center"><%= @book.title%></h3>
<%= link_to books_path do%>
  <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
<%end%>
<div class="book-info">
  <%= @book.isbn%>
  <%= @book.quantity%>
</div>


<div class="index-wrapper ">
  <div class="tab-content ">
    <table class="fixed_headers">
      <thead>
        <tr>
          <th>Updated at</th>
          <th>Previous Stock</th>
          <th>New Stock</th>
        </tr>
      </thead>
      <% @flows.each do |flow|%>
      <tbody>
        <tr>
          <td><%= flow.created_at.strftime("%m-%e-%y %H:%M") %></td>
          <td><%= flow.oldQuantity%></td>
          <td><%= flow.newQuantity%></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>

<div class="form-wrapper">
  <%= render "flows/new"%>
</div>
